body{
    background-color:#f1f3f6;
    display:flex;
    justify-content: center;
    height:100vh;
}
label{
    font-size:15px;
    font-weight:bold;
}
.log h2{
    text-align: center;
}
.log{
    background: white;
    padding:20px;
    width:380px;
    box-shadow: 0 4px 10px;
}
input{
    width:100%;
    padding:6px;
    background-color:aliceblue;
    border:1px solid #ccc;
}
button{
    cursor:pointer;
    width:100%;
    padding:5px;

}
button:hover{
    background-color: #1557b0;
}